{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    
</head>
<body style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container-fluid mb-3">
        <h1 class="text-center title mt-3">SIMULATION DU PROTOCOLE</h1>
        <hr class="text-white">
        <div class="row g-4">
            {% for node in nodes %}
                <div class="col">
                    <div class="card">
                        <div class="card-header fw-bolder text-uppercase text-center text-uppercase">{{node}}</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th class="fw-bolder text-uppercase">Block</th>
                                            <th class="fw-bolder text-uppercase">Data</th>
                                            <th class="fw-bolder text-uppercase">Etat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if node.all_caches %}
                                            {% for cache in node.all_caches %}
                                                {% if cache.state_cache == '4' %}
                                                    <tr class="text-danger">
                                                        <td>{{cache.bloc}}</td>
                                                        <td>--</td>
                                                        <td>{{cache.state_cache_state}}</td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td>{{cache.bloc}}</td>
                                                        <td>{{cache.bloc.data}}</td>
                                                        <td>{{cache.state_cache_state}}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td class="text-danger">Cache vide</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr class="text-white">
        <div class="card">
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data" id="form_command">
                    <div class="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <select name="node" class="form-control form-select custom-select">
                                    {% for node in nodes %}
                                        <option value={{node.id}}>{{node.node_string}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select name="block" class="form-control form-select custom-select">
                                    {% for block in directory %}
                                        <option value={{block.id}}>{{block.bloc}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <input type="text" id="data_send" placeholder="Data write" class="form-control" name="data_send">
                            </div>
                            <div class="col d-flex gap-2">
                                <button onclick="read_data()" type="button" class="btn btn-secondary btn-sm">Lire</button>
                                <button onclick="write_data()" type="button" class="btn btn-success btn-sm">Ecrire</button>
                            </div>
                            <div class="col">
                                <a href="{% url "protocole:reinitialisation_data" %}" class="btn btn-primary">
                                    Reset
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="text-white">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header fw-bolder text-uppercase">Repertoire</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th class="fw-bolder text-uppercase">Block</th>
                                        <th class="fw-bolder text-uppercase">Etat</th>
                                        <th class="fw-bolder text-uppercase">Sharer bits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dir in directory %}
                                        <tr>
                                            <td>{{dir.bloc}}</td>
                                            <td>{{dir.state_directory}}</td>
                                            <td>{{dir.owner_bits}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header fw-bolder text-uppercase">Messages</div>
                    <div class="card-body">
                        <p class="alert alert-info">On supprimer les messages précedents à chaque requete, pour mieux voir !</p>
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th class="fw-bolder text-uppercase">Type message</th>
                                        <th class="fw-bolder text-uppercase">Source</th>
                                        <th class="fw-bolder text-uppercase">Destination</th>
                                        <th class="fw-bolder text-uppercase">Contenu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if messages %}
                                        {% for msg in messages %}
                                            {% if msg.type_message == 'Read Miss' or msg.type_message == 'Write Miss' or msg.type_message == 'Fetch/Invalidate' or msg.type_message == 'Invalidate' %}
                                                <tr class="text-danger">
                                                    <td>{{msg.type_message}}</td>
                                                    <td>{{msg.source}}</td>
                                                    <td>{{msg.destination}}</td>
                                                    <td>{{msg.content_msg}}</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td>{{msg.type_message}}</td>
                                                    <td>{{msg.source}}</td>
                                                    <td>{{msg.destination}}</td>
                                                    <td>{{msg.content_msg}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-danger">Aucun message</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function read_data(){
            const form_command = document.getElementById('form_command');
            console.log(form_command);
            form_command.action = "{% url 'protocole:read_data' %}";
            form_command.submit();
        }
    </script>
    <script>
        function write_data(){
            const form_command = document.getElementById('form_command');
            const data_send = document.getElementById('data_send');
            console.log(data_send.value);
            form_command.action = "{% url 'protocole:write_data' %}";
            form_command.submit();
            
        }
    </script>
</body>
</html>